body {
  background-image:  rgb(0, 0, 0); ;

}

.logo-hamburgueria {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: 'Rubik Dirt', sans-serif; 
    color: white;
    padding: 30px;
}

.logo-hamburgueria img {
    width: 110px;
    height: 100px;
}
.cardapio-opcoes {
    padding: 0px;
    background-color: rgb(255, 165, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 600px;;
    }

.button-hambuguer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: unset;    
    padding: 10px;
    border-radius: 10px;
}

.button-bebidas{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.button-acai {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}




.informacoes {
    font-family: 'Rubik Dirt', sans-serif;
    padding: 10px;
    color:  rgb(255, 165, 0);;

}

.infor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 750px;
    height: 20px;
    padding: 0px;
    justify-content: space-around;
    color:  rgb(255, 165, 0);
}

.items-cardapio ul ol {
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 22px;
    color: rgb(184, 29, 29);
    text-align: center;
    display: inline-block;
    display: inline;
}
